<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><mapper namespace="com.framework.webClient.dao.LedSystemParaDao" >	<!-- 查询系统参数设置 -->	<select id="selectSystemPara" resultType="map">		SELECT			ID AS "id",			PARA_NO AS "paraNo",			PARA_VALUE AS "paraValue"		FROM			LED_SYSTEM_PARA	</select>		<!-- 更新 -->	<update id="updateSystemPara" parameterType="map">		UPDATE 			LED_SYSTEM_PARA		SET 		 	PARA_VALUE = #{paraValue}		WHERE			PARA_NO = #{paraNo}	</update></mapper>