<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link href="frontend/css/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="frontend/css/zTreeStyle.css" rel="stylesheet" type="text/css"/>
    <link href="frontend/project/css/pbglxt.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="frontend/js/jquery.min.js"></script>
	<script type="text/javascript" src="frontend/js/jquery.easyui.min.js"></script>
    <title>电子站牌后台系统</title>
    <meta http-equiv="Pragma" content="no-cache"></meta>
    <meta http-equiv="Cache-Control" content="no-cache"></meta>
    <meta http-equiv="Expires" content="0"></meta>
</head>
<body>
<header>
    <div class="logo" style="margin-top: -8px;"><img src="frontend/project/images/logo.png" alt="哈尔滨公交管理平台"/></div>
    <div class="h-left">
        <span id="MNTVer"></span>
    </div>
    <div class="h-right">
        <ul>
            <li><a href="/logout" class="h-quit"><i class="icon iconfont icon-iconfonttuichu"></i>退出</a></li>
            <li id="loginName">您好</li>
            <li class="h-time"></li>
        </ul>
    </div>
</header>
<div id="leftSide"></div>
<div style="height: 95%;">
	<iframe name="iframe_a" width="97%" height="100%" style="margin-left: 43px; margin-top: 42px;"></iframe>
</div>
</body>
<script type="text/javascript" src="frontend/project/js/ledmenu.js"></script>
</html>